@import "../variables", "fluid";

/*
 * See fluid for usage
 * This function will remify the values by default
 */

@function fluid-font($minValue, $maxValue, $minViewportWidth: $minimumFluidValueViewportWidth, $maxViewportWidth: $maximumFluidValueViewportWidth) {
  @return fluid(
    $minValue,
    $maxValue,
    $minViewportWidth: $minimumFluidValueViewportWidth,
    $maxViewportWidth: $maximumFluidValueViewportWidth,
    $remify: true
  );
}
