/**
 * Aspect ratio, provide fallback for aspect-ratio
 * https://caniuse.com/?search=aspect-ratio
 *
 * @param {number} $width (1) - Percentage width
 * @param {number} $height ($width) - Percentage height
 * @param {boolean} $relative (true) - Add relative position to element
 */
@mixin aspect-ratio($width: 1, $height: $width, $relative: true) {
  aspect-ratio: $width / $height;
  @if ($relative == true) {
    position: relative;
  }

  @supports not (aspect-ratio: $width / $height) {
    &::before {
      content: '';
      display: block;
      padding-top: unquote(($height / $width) * 100 + '%');
    }
  }
}
