/**
 * Size an Element
 *
 * @param {number} $width (1em) - Width of the element
 * @param {number} $height ($width) - Height of the element
 */
@mixin size($width: 1em, $height: $width) {
	height: $height;
	width: $width;
}
